<div class="show-pending-container">
  <div class="panel show-pending-panel">
    <div class="panel-body">
      <h2>YOUR PENDING DETAILS</h2>  
      <table class="">
        <tr>
          <td class="pending-attr">Activity:</td>
          <td class="pending-details"><%= @pending.activity.name %></td>
          <td class="pending-attr">Date:</td>
          <td class="pending-details"><%= @pending.datetime.localtime.strftime("%A, %d %b %Y") %></td>  
        </tr>
        <tr>
          <td class="pending-attr">City:</td>
          <td class="pending-details"><%= @pending.city %></td>
          <td class="pending-attr">Time:</td>
          <td class="pending-details"><%= @pending.datetime.localtime.strftime("%I:%M %p") %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="potential-matches">
    <h3>ALL AVAILABLE MATCHES</h3>
    <% @pending.potential_matches.each do |potential_match| %>
      <div class="panel potential-match-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <% if potential_match.user.avatar? %>
                <%= image_tag(potential_match.user.avatar.medium_avatar.url) %>
              <% else %>
                <div class="profile-pic"></div>
              <% end %>
            </div>
            <div class="col-md-5">
              <h2><%= potential_match.user.name %></h2>
            </div>
            <div class="col-md-4">
              <%= button_to "Accept", pending_match_statuses_path(potential_match), method: :post, 
                    params: { status: "accepted",
                              pending_viewer_id: @pending.id,
                              pending_viewed_id: potential_match.id },
                    class: "btn btn-default btn-lg"
              %>
              <%= button_to "Decline", pending_match_statuses_path(potential_match), method: :post,
                    params: { status: "declined",
                              pending_viewer_id: @pending.id,
                              pending_viewed_id: potential_match.id },
                    class: "btn btn-default btn-lg"
              %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>



<!-- show page for all the available pendings to accept/decline for this particular pending -->
<h1>This Pending</h1>
<%= @pending %>
<%= link_to "Delete pending", user_pending_path, method: :delete %>

<h1>All available matches</h1>

<% @pending.potential_matches.each do |potential_match| %>
  <%= potential_match.user.email %>
  <%= potential_match.city %>
  <%= potential_match.datetime.to_date %>
  <%= button_to "Accept", pending_match_statuses_path(potential_match), method: :post, 
        params: { status: "accepted",
                  pending_viewer_id: @pending.id,
                  pending_viewed_id: potential_match.id }
  %>
  <%= button_to "Decline", pending_match_statuses_path(potential_match), method: :post,
        params: { status: "declined",
                  pending_viewer_id: @pending.id,
                  pending_viewed_id: potential_match.id }
  %>
<% end %>