<!-- edit user here front end team! -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= image_tag("fitbuds-clear_bg-new-grey.png")%>
  <!-- <div id="avatar"><%= image_tag("default.png")%></div> -->
  <h3 id="username"><%= @user.name %></h3>
  <a href="#">Dashboard</a>
  <a href="#">Vission</a>
  <a href="#">Contact</a>
  <%= link_to "Back to main", root_path %>
</div>


<div class="jumbotron edit_user_bg">
  <div class="container-fluid" >
    <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="f-logo"><%= image_tag("f-clear_bg.png") %></span>

    <div id="main">
      <h1 id="edit_profile">Edit Profile</h1>

      <div class="container" >
        <div id="editbox"  >
          <%= form_for @user, id: "edit-user", url: user_path(@user), method: :patch do |f| %>
            <%= f.text_field :name, placeholder: "Name", class: "input pass" %>
            <%= f.email_field :email, placeholder: "Email", class: "input pass" %>
            <%= f.password_field :password, placeholder: "Password", class: "input pass" %>
            <%= f.password_field :retype_password, placeholder: "Re-type Password", class: "input pass" %>
            <hr>
            <%= f.text_field :city, placeholder: "City", class: "input pass" %>
            <%= f.text_field :state, placeholder: "State", class: "input pass" %>
            <%= f.text_field :country, placeholder: "Country", class: "input pass" %>
            <hr>
            <%= f.label "Targeted hours of exercise per week" %>
            <%= f.number_field :weekly_activity_hours, class: "input pass" %>
            <%= f.label "Age Range" %>
            <%= f.select :age_range, User.age_ranges, class: "input pass" %>
            <hr>
            <% rating_range = [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]] %>
            <%= f.label "Stamina" %>
            <%= f.select :stamina, rating_range, class: "input pass" %>
            <%= f.label "Strength" %>
            <%= f.select :strength, rating_range, class: "input pass" %>
            <%= f.label "Agility" %>
            <%= f.select :agility, rating_range, class: "input pass" %>
            <hr>
            <%= f.text_area :additional_health_problems, placeholder: "additional health problems", class: "input pass" %>
            <hr>
            <%= f.submit "Enter", class: "inputButton" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    // document.getElementById("main").fadeOut();
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    // document.getElementById("main").fadeIn();
}
</script>
  <%= image_tag(@user.avatar.large_avatar.url) if @user.avatar? %>
  <%= f.file_field :avatar %>
  <%= f.check_box :remove_avatar %>Remove Avatar
  <hr>
