<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "", "/auth/facebook", class: "fa fa-facebook-square fa-2x" %></li>
    </ul>
<!-- side-navigation -->
    <div id= "Sidenav" class="navbar-left sidenav">
      <%= link_to "", "#", class: "fa fa-arrow-left fa-2x closebtn", onclick: "closeNav()" %>
      <%= image_tag "profile.png", width: "150px", height: "140px", class: "img-circle"%>
    <div id=""></div>
      <%= link_to "BRAND", "#", id: "Brandnav" %>
      <%= link_to "PROFILE", "#" %>
      <%= link_to "MESSAGES", "#" %>
      <%= link_to "SETTINGS", "#" %>
      <%= link_to "SIGN OUT", "#" %>
    </div>
    <span onclick="openNav()" class="fa fa-bars fa-2x" style="margin-top: 10px;"></span>
  </div>
</nav>


<div id="main">
  <div class="jumbotron" >
    <div class="container">
      <h1>Hello, world!</h1>
      <p>Learn more</p>
    </div>
  </div>

  <div class="custom-cont">
    <div class="row">
      <div class="col-md-4">
        Heirloom tacos art party, seitan distillery letterpress blue bottle. Gastropub hexagon health goth, narwhal irony celiac echo park offal ennui food truck etsy hell of. Craft beer meditation stumptown whatever VHS sustainable. Brunch food truck XOXO kale chips crucifix, keffiyeh retro copper mug woke salvia fam. Air plant occupy waistcoat, tumblr skateboard brunch ethical. Live-edge unicorn umami cornhole jianbing XOXO. Before they sold out woke farm-to-table, tote bag pop-up la croix meggings helvetica skateboard hell of gochujang.
      </div>
      <div class="col-md-4">
        Heirloom tacos art party, seitan distillery letterpress blue bottle. Gastropub hexagon health goth, narwhal irony celiac echo park offal ennui food truck etsy hell of. Craft beer meditation stumptown whatever VHS sustainable. Brunch food truck XOXO kale chips crucifix, keffiyeh retro copper mug woke salvia fam. Air plant occupy waistcoat, tumblr skateboard brunch ethical. Live-edge unicorn umami cornhole jianbing XOXO. Before they sold out woke farm-to-table, tote bag pop-up la croix meggings helvetica skateboard hell of gochujang.
      </div>
      <div class="col-md-4">
        Heirloom tacos art party, seitan distillery letterpress blue bottle. Gastropub hexagon health goth, narwhal irony celiac echo park offal ennui food truck etsy hell of. Craft beer meditation stumptown whatever VHS sustainable. Brunch food truck XOXO kale chips crucifix, keffiyeh retro copper mug woke salvia fam. Air plant occupy waistcoat, tumblr skateboard brunch ethical. Live-edge unicorn umami cornhole jianbing XOXO. Before they sold out woke farm-to-table, tote bag pop-up la croix meggings helvetica skateboard hell of gochujang.
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
    openNav();
    console.log("opened");
  };
function openNav() {
  console.log("openNav")
  document.getElementById("Sidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  console.log("closeNav")
  document.getElementById("Sidenav").style.width = "0";
  document.getElementById("Sidenav").marginLeft = "0";
}
</script>
