<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "", "/auth/facebook", class: "fa fa-facebook-square fa-2x" %></li>
    </ul>
<!-- side-navigation -->
    <div id= "Sidenav" class="navbar-left sidenav">
      <%= link_to "", "#", class: "fa fa-arrow-left fa-2x closebtn", onclick: "closeNav()" %>
      <%= image_tag "profile.png", width: "150px", height: "140px", class: "img-circle"%>
    <div id=""></div>
      <%= link_to "dashboard", "#", id: "Brandnav" %>
      <%= link_to "create new match", "#" %>
      <%= link_to "current matches", "#" %>
      <%= link_to "all pending matches", "#" %>
    </div>
    <span onclick="openNav()" class="fa fa-bars fa-2x" style="margin-top: 10px;"></span>
  </div>
</nav>

<div class="dashbox">
    <h1 style= "margin-left: 15px; font-weight: 300;">Dashboard</h1>
    <hr>
  <section class="content">
    <div class="row">
      <div class="col-sm-4">
        <p class="lead" style="font-size: 15px; margin-bottom: 7px;">Venue</p>
        <%= text_field_tag "Venue", " ", class: "form-control", placeholder: "Venue" %>
      </div>
      <div class="col-sm-4">
        <p class="lead" style="font-size: 15px; margin-bottom: 7px;">Time</p>
        <%= text_field_tag "Venue", " ", class: "form-control", placeholder: "Time" %>
      </div>
      <div class="col-lg-8">
        <p class="lead" style="font-size: 15px; margin-bottom: 7px; margin-top: 10px;">Activity</p>
        <%= text_field_tag "Venue", " ", class: "form-control", placeholder: "Activity" %>
      </div>
    </div>
    </div>

  </section>
</div>




<div id="main">

</div>


<!-- <script>
  window.onload = function() {
    openNav();
    console.log("opened");
  };
function openNav() {
  console.log("openNav")
  document.getElementById("Sidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  console.log("closeNav")
  document.getElementById("Sidenav").style.width = "0";
  document.getElementById("Sidenav").marginLeft = "0";
}
</script> -->
