
<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="mock-text">
  <p>
    Taxidermy chillwave beard you probably haven't heard of them.
    Bicycle rights four loko church-key jianbing williamsburg. Forage street art VHS, selvage bespoke vice plaid ennui keffiyeh.
    Vaporware cray ugh iceland listicle, franzen kale chips jianbing. Lumbersexual semiotics pinterest fap, mumblecore four loko pabst.
    Gluten-free chia humblebrag tumeric. Keffiyeh listicle vaporware food truck raw denim.
    Etsy organic wolf, meggings church-key wayfarers everyday carry fashion axe lyft.<br />
    Man bun af raclette, aesthetic godard pork belly synth forage 90's.
    Hella flannel four loko, plaid gentrify yuccie pabst slow-carb messenger bag 8-bit shabby chic squid vegan kinfolk.
    Chillwave whatever chartreuse single-origin coffee.
    PBR&B venmo schlitz, swag single-origin coffee jean shorts umami marfa cray put a bird on it vexillologist lo-fi.
    Bushwick tumeric aesthetic, cold-pressed glossier letterpress tofu williamsburg gastropub iceland kitsch man bun banjo.
    Poutine bushwick freegan pop-up schlitz deep v, tumeric af.<br />

    Biodiesel street art tofu asymmetrical photo booth tbh vexillologist, cronut craft beer occupy.
    Fingerstache echo park man braid, bicycle rights leggings live-edge trust fund. DIY deep v blue bottle kickstarter bicycle rights.
    Poutine kogi four dollar toast, kitsch vice photo booth raw denim subway tile heirloom kickstarter mumblecore paleo post-ironic +1 church-key.
    Gochujang tbh banh mi single-origin coffee yuccie. Poke iceland distillery microdosing godard vegan.
    Chartreuse vape kale chips hoodie, brooklyn 3 wolf moon keytar live-edge flannel single-origin coffee street art.<br />

    Banjo selvage intelligentsia authentic, VHS la croix gentrify pour-over twee plaid roof party godard wolf.
    Brooklyn shabby chic truffaut poke quinoa dreamcatcher, hella copper mug williamsburg celiac gentrify wayfarers lomo keytar YOLO.
    Air plant man braid pickled tousled tilde blue bottle. Gochujang lumbersexual synth shabby chic +1.
    Edison bulb lomo brooklyn, retro ugh beard offal ennui. XOXO hexagon direct trade crucifix four dollar toast.
    Roof party live-edge gochujang, aesthetic woke vape forage 3 wolf moon ethical tilde organic.<br />
  </p><br />
</div>

<% if signed_in? %>
  <p>Current User id: <%= current_user.id %></p>
<% end %>

<% if signed_in? %>
  <%= link_to "Sign Out", sign_out_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", sign_in_path %>
  <%= link_to "Sign Up", new_user_path %>
<% end %>

<br>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>
