<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "", "/auth/facebook", class: "fa fa-facebook-square fa-2x" %></li>
    </ul>
<!-- side-navigation -->
    <div id= "Sidenav" class="navbar-left sidenav">
      <%= link_to "", "#", class: "fa fa-bars fa-2x closebtn", style: "margin-top: 10px; color: #5e5e5e;" %>
      <%= link_to "BRAND", "#", id: "Brandnav" %>
      <%= link_to "FEATURED", "#" %>
      <%= link_to "VISION", "#" %>
      <%= link_to "CONTACT", "#" %>
      <%= link_to "ICONS", "#" %>
    </div>






  </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>Learn more</p>
    </div>
</div>
