<!-- this is where one specific match appears, with the two profile pics and chat panel -->

<!-- this first if...else statement is to determine whether the current_user is user1 or user2 -->
<!-- the current user will always be mentioned first -->
<% if current_user.id == @match.user1_id %>

  <h1>Current User: <%= User.find(@match.user1_id).email %></h1>
  <h2>Your match details: </h2>
  <% your_pending = Pending.find(@match.user1_pending_id) %>
  <h3>Time: <%= your_pending.datetime %></h3>
  <h3>Area: <%= your_pending.city %></h3>

  <h1>Matched User: <%= User.find(@match.user2_id).email %></h1>
  <h2>Their match details: </h2>
  <% their_pending = Pending.find(@match.user2_pending_id) %>
  <h3>Time: <%= their_pending.datetime %></h3>
  <h3>Area: <%= their_pending.city %></h3>

<% else %>

  <h1>Current User: <%= User.find(@match.user2_id).email %></h1>
  <h2>Your match details: </h2>
  <% your_pending = Pending.find(@match.user2_pending_id) %>
  <h3>Time: <%= your_pending.datetime %></h3>
  <h3>Area: <%= your_pending.city %></h3>

  <h1>Matched User: <%= User.find(@match.user1_id).email %></h1>
  <h2>Their match details: </h2>
  <% their_pending = Pending.find(@match.user1_pending_id) %>
  <h3>Time: <%= their_pending.datetime %></h3>
  <h3>Area: <%= their_pending.city %></h3>

<% end %>

<h1>Chat Panel goes below here</h1>

<div class="chatbox">
  <ol class="chat">
    <% @match.messages.order('created_at').each do |msg| %>
      <% if msg.user.id == current_user.id %>
        <li class="self">
      <% else %>
        <li class="other">
      <% end %>
          <div class="msg">
            <p><%= msg.content %></p>
          </div>
        </li>
    <% end %>
  </ol>

  <div class="reply-msg">
    <%= form_for :message, url: match_messages_path(@match) do |f| %>
      <%= f.text_field :content, placeholder: "Message" %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>