
<div class="match-container">
  
  <% if current_user == @match.user1 %>
    <% you = @match.user1 %>
    <% them = @match.user2 %>
    <% your_pending = @match.user1_pending %>
    <% their_pending = @match.user2_pending %>
  <% else %>
    <% you = @match.user2 %>
    <% them = @match.user1 %>
    <% your_pending = @match.user2_pending %>
    <% their_pending = @match.user1_pending %>
  <% end %>

    <div class="pending-info">
      <h3>Your pending for <%= your_pending.activity.name %> </h3>
      <hr class="match-hr">
      <table>
        <tr>
          <td class="pending-attr"><p>Activity:</p></td>
          <td class="pending-details"><p><%= your_pending.activity.name %></p></td>
          <td class="pending-attr"><p>Date: </p></td>
          <td class="pending-details"><p><%= your_pending.datetime.localtime.strftime("%A, %d %b %Y") %></p></td>
        </tr>
        <tr>
          <td class="pending-attr"><p>City:</p></td>
          <td class="pending-details"><p><%= your_pending.city %></p></td>
          <td class="pending-attr"><p>Time:</p></td>
          <td class="pending-details"><p><%= your_pending.datetime.localtime.strftime("%I:%M%p") %></p></td>
        </tr>
      </table>
    </div>

    <div class="row match-other-row">
      <div class="col-md-4">
        <div class="profile-pic"></div>
      </div>
      <div class="col-md-8">
        <h2><%= them.name %></h2>
        <h4>from <%= them.city %>, <%= them.state %>, <%= them.country %></h4>
        <p><%= them.email %></p>
        <br>
        <table class="user-attr-table">
          <tr>
            <td>Stamina:</td>
            <td class="attr-value"><%= them.stamina %></td>
            <td>Strength:</td>
            <td class="attr-value"><%= them.strength %></td>
            <td>Agility:</td>
            <td class="attr-value"><%= them.agility %></td>
          </tr>
        </table>
        <br>
        <hr class="match-hr">
        <h4 class="other-pending-title">Their Pending details</h4>
        <table class="other-pending-table">
          <tr>
            <td class="pending-attr"><p>Activity:</p></td>
            <td class="pending-details"><p><%= their_pending.activity.name %></p></td>
            <td class="pending-attr"><p>Date: </p></td>
            <td class="pending-details"><p><%= their_pending.datetime.localtime.strftime("%A, %d %b %Y") %></p></td>
          </tr>
          <tr>
            <td class="pending-attr"><p>City:</p></td>
            <td class="pending-details"><p><%= their_pending.city %></p></td>
            <td class="pending-attr"><p>Time:</p></td>
            <td class="pending-details"><p><%= their_pending.datetime.localtime.strftime("%I:%M%p") %></p></td>
          </tr>
        </table>
      </div>
    </div>

  <h1>Chat Panel goes below here</h1>
  <% if current_user == @match.user1 %>
    <div class="chatbox" data-match-id="<%= @match.id %>" data-self="<%= @match.user1.id %>" data-other="<%= @match.user2.id %>">
  <% else %>
    <div class="chatbox" data-match-id="<%= @match.id %>" data-self="<%= @match.user2.id %>" data-other="<%= @match.user1.id %>">
  <% end %>
    <ol class="chat">
      <% @match.messages.order('created_at').each do |msg| %>
        <% if msg.user.id == current_user.id %>
          <li class="self">
        <% else %>
          <li class="other">
        <% end %>
            <div class="msg">
              <p><%= msg.content %></p>
            </div>
          </li>
      <% end %>
    </ol>

    <div class="reply-msg">
      <%= form_for :message, url: match_messages_path(@match), remote: true do |f| %>
        <%= f.text_field :content, placeholder: "Message" %>
        <%= f.submit "Send" %>
      <% end %>
    </div>
  </div>

  <h1>Form for confirmed activity goes below</h1>
  <% activity = @match.confirmed_activity %>
  <% if activity %>
    <p>Activity: <%= activity.activity.name %></p>
    <p>Datetime: <%= activity.datetime.localtime %></p>
    <p>Duration: <%= activity.duration_in_hours %> hours</p>
    <p>Location: <%= activity.location %></p>
    
    <!-- conditions for when the user has confirmed/not confirmed -->
    <% if activity.user1_confirm && activity.user2_confirm %>
      <p><strong>You've both confirmed this activity!</strong></p>
    <% elsif current_user == @match.user1 %>
      <% if activity.user1_confirm %>
        <p><strong>Waiting for other user to confirm!</strong></p>
      <% else %>
        <p><strong><%= button_to "Confirm", match_confirmed_activity_path(@match, activity), method: :post %></strong></p>
        <p><strong><%= button_to "Decline", match_confirmed_activity_path(@match, activity), method: :delete %></strong></p>
      <% end %>
    <% elsif current_user == @match.user2 %>
      <% if activity.user2_confirm %>
        <p><strong>Waiting for other user to confirm!</strong></p>
      <% else %>
        <p><strong><%= button_to "Confirm", match_confirmed_activity_path(@match, activity), method: :post %></strong></p>
        <p><strong><%= button_to "Decline", match_confirmed_activity_path(@match, activity), method: :delete %></strong></p>
      <% end %>
    <% end %>

  <% else %>
    <%= form_for @confirmed_activity, url: match_confirmed_activities_path(@match) do |f| %>
      <!-- for user confirmation based on the current_user -->
      <% if current_user == @match.user1 %>
        <%= f.hidden_field :user1_confirm, value: true %>
      <% else %>
        <%= f.hidden_field :user2_confirm, value: true %>
      <% end %>
      <%= f.select :activity_id do %>
        <% activity_array = Activity.order(:name).all.map { |activity| [activity.name, activity.id] } %>
        <%= options_for_select([['Others', 0]]) %>
        <%= options_for_select(activity_array) %>
      <% end %>
      <%= f.text_field :activity, placeholder: "If selected 'Other', please specify" %>
      <hr>
      <%= f.text_field :location, placeholder: "Location" %>
      <hr>
      <%= f.date_field :date, placeholder: "Date", class: "date-field" %>
      <%= f.text_field :time, placeholder: "Time", class: "time-field" %>
      <hr>
      <%= f.number_field :duration_in_hours, placeholder: "Activity Duration" %>
      <%= f.submit %>
    <% end %>
  <% end %>

</div>
