<!DOCTYPE html>
<html>
  <head>
    <title>Healthapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="logo">
          <%= link_to image_tag("fitbuds-clear_bg.png"), root_path %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Vission</a></li>
          <li><%= link_to "Log In with Facebook", "/auth/facebook" %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
